{% extends "base.html" %}
{% block title %}出货系统{% endblock %}
{% block nav %}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li ><a href="{%url 'item_index' %}">产品列表</a></li>
        <li ><a href="{%url 'bill_table_index' %}">账单</a></li>
    </ul>
</div>
{% endblock %}
{% block content %}
<div class="jumbotron">
<h1>欢迎来到这里</h1>
<p>这是一个简单的出货系统，首先你在产品清单里面录入你的产品，然后点击出货单，在那里你可以快速地完成出货记录和计算</p>
<p>管理后台 : http://127.0.0.1:8000/admin </p>
<p>局域网内，不同设备登陆<br/> 
linux系统,在终端输入：<br/>
ifconfig | grep 'inet.*192'<br/>

找到IP地址,如：192.168.199.148, 再加上端口8000,在浏览器输入 192.168.199.148:8000<br/><br/>

windows系统<br/>
请到网络链接，属性，查找IP地址,</p>
</div>
<div class="row">
  <div class="col-sm-6 col-md-3" id="item">
    <div class="thumbnail">
      <div class="caption">
        <h3>产品清单</h3>
        <p><a href="{% url 'item_index' %} " class="btn btn-primary">产品清单</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3" id="bill">
    <div class="thumbnail">
      <div class="caption">
        <h3>账单</h3>
        <p><a href="{% url 'bill_table_index' %} " class="btn btn-primary">账单管理</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
